@charset "UTF-8";
main{
	width: 100%;
	height: 100%;
	display: flex;
}
.map_sideMenu{
	width: 20%;
	height: 100%;
	background-color: #cad2e6;
}
#chooseFile{
	
}
.map_content{
	width: 80%;
	height: 100%;
	display : row;
}

.legendTable{
	border: 1px solid black;
	width: 250px;
	height: 300px;
	top: -40%;
	right: -80%;
	position: relative;
}

#map {
	top: 50%;
    left: 50%;
}

.nav-link select {
    display: block; /* Make the select element a block element */
    margin-bottom: 5px; /* Adjust as needed */
}

.sb-nav-link-icon{
	display: flex;
}
.fileUpLoad{
	display: block;
}
#toastBox{
	background-color: #f5f5f5;
	border: 1px solid #dfdfdf;
	width: 200px;
	height: 50px;
	position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
	padding: 10px;
    border-radius: 5px;
    z-index: 9999;
    display: none;
	
}
.chart {
  align-content: center;
  display: flex;
  justify-content: center;
}

.modal {
  text-align: center;
  z-index: 9999;
}

@media screen and (min-width: 768px) {
  .modal:before {
    content: " ";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.modal-footer {
  color: #00b5e6;
  font-size: 25px;
  text-align: center;
}

.form-group{
	margin : 10px;
	text-align: center;
}
.ol-popup-custom {
    padding: 0;
    margin: 0;
    pointer-events: none;
    position: absolute;
    background-color: white;
    filter: drop-shadow(3px 3px 7px rgba(0,0,0,0.6));
    border: 1px solid black;
    min-width: 120px;
    width: auto;
    left: -60px; /* 위치를 조정, -width의 절반값 */
    min-height: 48px;
    height: auto;
    bottom: -50%; /* 위치를 조정, -height의 절반값 */
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
}
.popup-content {
	display : block;
   	position: absolute;
   	width: 100%;
   	box-sizing: border-box;
   	line-height: 100%;
}
.info {
    display: inline-block;
    line-height: 100%;
    width: 100%;
   	height:auto;
    font-size:10px;
    font-weight: bold;
    box-sizing: border-box;
    justify-content: center;
}
.menuTitle{
	margin : 5px 0;
}
select {
	width: 80%;
}