@charset "UTF-8";

.container {
	margin : 0 auto;
	padding : 0;
}
.menu {
	margin : 0 auto;
	width : 400px;
	height: 100vh;
	float : left;
	position: fixed;
}
.main {
	width: calc(100% - 600px);
	heigth: 100vh;
	margin: auto;
}
