@charset "UTF-8";

.container {
	margin : 0 auto;
	padding : 0;
}
.menu {
	margin : 0 auto;
	width : 400px;
	height: 100vh;
	float : left;
	position: fixed;
}
.main {
	width: calc(100% - 600px);
	heigth: 100vh;
	margin: auto;
}
 
#map{
	z-index: 20;
}

#modalOpenButton, #modalCloseButton {
  cursor: pointer;
}

#modalContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index : 1050;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

#modalContent {
  position: absolute;
  background-color: #ffffff;
  width: 300px;
  height: 150px;
  padding: 15px;
}

#modalContainer.hidden {
  display: none;
}

.nav-link select {
    display: block; /* Make the select element a block element */
    margin-bottom: 5px; /* Adjust as needed */
}

.sb-nav-link-icon{
	display: flex;
}
.fileUpLoad{
	display: block;
}